<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {% block title %} 
        Document
      {% endblock title %}
    </title>

    {% load static %}
    {% block static %}
      <!--======== CSS ======== -->
      <link rel="stylesheet" href="{% static "css/root_styles.css" %}">
      <!--===== Boxicons CSS ===== -->
      <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    {% endblock static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    <!-- BLOQUE -->
    <div class="sidebar close">
        <div class="logo-details">
          <i>
            <img src="{% static 'img/ICESI_logo.png' %}" alt="logo">
          </i>
          <span class="logo_name">U. ICESI</span>
        </div>
        <ul class="nav-links">
          <li>
            <a id="home" href="{% url 'home' %}">
              <i class='bx bx-home'></i>
              <span class="link_name">Inicio</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="{% url 'programs' %}">Inicio</a></li>
            </ul>
          </li>
          <li>
            <a id="programas"href="{% url 'programs' %}">
              <i class='bx bx-folder-open' ></i>
              <span class="link_name">Programas</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="{% url 'programs' %}">Programas</a></li>
            </ul>
          </li>
          <li>
            <a id="teacher" href="{% url 'teachers' %}">
              <i class='bx bx-group'></i>
              <span class="link_name">Docentes</span>
            </a>
            <ul class="sub-menu blank">
              <li><a class="link_name" href="#">Docentes</a></li>
            </ul>
          </li>
          <li>
            <a id="viaticos" href="{% url 'viatic_list' %}">
                <i class='bx bx-money'></i>
                <span class="link_name">Viáticos</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Viáticos</a></li>
              </ul>
        </li>  
          <li>
        <div class="profile-details">
          <div class="profile-content">
            <!-- Aquí debe ir una imagen de perfil -->
            <img src="{% static 'img/miguel.jpg' %}" alt="profileImg">
          </div>
          <div class="name-job">
            <div class="profile_name">Miguel Angel</div>
            <div class="job">Colaborador</div>
          </div>
          <!-- 
<li class="nav-item">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="nav-link">Salir</button>
            </form>
          </li>

          -->
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="nav-link">
              <i class='bx bx-log-out' ></i>
            </button>
          </form>
        </div>
      </li>
    </ul>
    </div>
    <section class="home-section">
        <div class="home-header">
            <i class='bx bx-menu' ></i>
            <span class="text">
              {% block actual_patch %}
                Example Patch
              {% endblock actual_patch %}
            </span>
        </div>
        <div class="home-header-content">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a id="home" href="{% url 'programs' %}">Inicio</a>
            </li>
              {% block breadcrumb-items %}
                <li class="breadcrumb-item">
                  <a href="">Example Patch 1</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="">Example Patch 2</a>
                </li>
              {% endblock breadcrumb-items %}          
            </ol>
        </div>
        <div class="home-content">
          {% block content %}
            Example Content
          {% endblock content %}
        </div>
    </section>
    <script src="{% static 'js/root_scripts.js' %}"></script>
</body>
</html>