<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/createproduct_style.css">
</head>
<body>
    <div class="SuperiorVar">
        <img src="https://http2.mlstatic.com/static/org-img/homesnw/mercado-libre.png?v=2" alt="Logo de la empresa">
          <!-- Otros elementos de la barra superior -->
    </div>
    <div class="container">
        <h1 class="text-center my-4">Administrador</h1>
        <h2 class="text-center my-4">Manejo de productos</h2>

        <div id="productContainer" class="row"></div>

        <div class="text-center my-4">
            <button onclick="window.location.href = 'createproduct.html';" class="btn btn-primary">Agregar producto</button>
        </div>
    </div>

    <script src="../js/admin.js"></script>
</body>
</html>
