{% extends 'baseUser.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/createuser_style.css">
</head>
<div class="container">
    <h1 class="mt-4 mb-4">Historial de Compras</h1>
    <div id="historyContainer"></div>
</div>

<script src="../js/user.js"></script>
{% endblock %}